/* create variables for each color used in the design */
:root {
    --yellow: #ffe9c7;
    --teal: #008d7d;
    --orange: #f56000;
    --black: #111111;
}
* {
    font-family: "Cardo", Georgia, serif;
    font-weight: normal;
    font-size: 1vmin;
    line-height: 1;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */

}
body {
    background-color: var(--yellow);
}

/* Base styles for dynamically created elements */
h1.animal-name { 
    position: absolute;
}
h2.animal-letter {
    position: absolute;
}
.animal-container {
    position: absolute;
}
.animal-container > * {
    position: absolute;
}
.partial-background {
    position: absolute;
}

/* title page css */
#title-page {
    position: absolute;
    top: 4rem;
    width: 100%;

}
.tp-abc-book {
    position: absolute;
    left: 50%;
    top: 5.5rem;
}
.tp-abc-book-a, .tp-abc-book-b {
    position: absolute;
    color: var(--black);
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: .9rem;
    top: 0;
    white-space: nowrap;
}
    .tp-abc-book-a {
        left: -22rem;
    }
    .tp-abc-book-b {
        left: 10.5rem;
    }
.tp-bembo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 27rem;
    text-align: center;
    color: var(--orange);
    letter-spacing: -1rem;
}
.tp-zoo {
    position: absolute;
    text-align: center;
    top: 21rem;
    left: 0;
    right: 0;
    font-size: 40rem;
    color: var(--orange);
    letter-spacing: -1rem;
}
.tp-author {
    position: absolute;
    top: 55rem;
    left: 50%;
    margin-left: 7rem;
    font-size: 3.1rem;
    color: var(--teal);
}
.tp-ears {
    position: absolute;
    top: 20rem;
    left: 50%;
    font-size: 20rem;
    color: var(--black);
    z-index: -1;
}
    .tp-ear-left {
        position: absolute;
        left: -22rem;
        font-size: inherit
    }
    .tp-ear-right {
        position: absolute;
        left: 8rem;
        font-size: inherit;
        transform: scaleX(-1);
    }
.tp-mouth {
    position: absolute;
    top: 27rem;
    left: 50%;
    font-size: 42rem;
    color: var(--black);
}
    .tp-mouth-left {
        position: absolute;
        left: -15.5rem;
        font-size: inherit;
        transform: rotate(-45deg);
    }
    .tp-mouth-right {
        position: absolute;
        left: -8.5rem;
        font-size: inherit;
        transform: scaleX(-1) rotate(-45deg);
    }
.tp-eyes {
    position: absolute;
    top: 31rem;
    left: 50%;
    font-size: 8rem;
    color: var(--black);
}
    .tp-eye-left {
        position: absolute;
        left: -10rem;
        font-size: inherit;
    }
    .tp-eye-right {
        position: absolute;
        left: 2rem;
        font-size: inherit;
    }
