/* create variables for each color used in the design */
:root {
    --yellow: #ffe9c7;
    --teal: #008d7d;
    --orange: #f56000;
    --black: #111111;
    --title-page-scale: 1;
}
* {
    font-family: "Cardo", Georgia, serif;
    font-weight: normal;
    font-size: 1vmin;
    line-height: 1;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */

}
body {
    background-color: var(--yellow);
}

/* Base styles for dynamically created elements */
h1.animal-name { 
    position: absolute;
}
h2.animal-letter {
    position: absolute;
}
.animal-container {
    position: absolute;
}
.animal-container > * {
    position: absolute;
}
.partial-background {
    position: absolute;
}

/* title page css */
#title-page {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
}
.tp-abc-book {
    position: absolute;
    left: 50%;
    top: calc(5.5rem * var(--title-page-scale));
}
.tp-abc-book-a, .tp-abc-book-b {
    position: absolute;
    color: var(--black);
    text-transform: uppercase;
    font-size: calc(3rem * var(--title-page-scale));
    letter-spacing: .9rem;
    top: 0;
    white-space: nowrap;
}
    .tp-abc-book-a {
        left: calc(-22rem * var(--title-page-scale));
    }
    .tp-abc-book-b {
        left: calc(10.5rem * var(--title-page-scale));
    }
.tp-bembo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: calc(27rem * var(--title-page-scale));
    text-align: center;
    color: var(--orange);
    letter-spacing: -1rem;
}
.tp-zoo {
    position: absolute;
    text-align: center;
    top: calc(21rem * var(--title-page-scale));
    left: 0;
    right: 0;
    font-size: calc(40rem * var(--title-page-scale));
    color: var(--orange);
    letter-spacing: -1rem;
}
.tp-author {
    position: absolute;
    top: calc(55rem * var(--title-page-scale));
    left: 50%;
    margin-left: calc(7rem * var(--title-page-scale));
    font-size: calc(3.1rem * var(--title-page-scale));
    color: var(--teal);
}
.tp-ears {
    position: absolute;
    top: calc(20rem * var(--title-page-scale));
    left: 50%;
    font-size: calc(20rem * var(--title-page-scale));
    color: var(--black);
    z-index: -1;
}
    .tp-ear-left {
        position: absolute;
        left: calc(-22rem * var(--title-page-scale));
        font-size: inherit
    }
    .tp-ear-right {
        position: absolute;
        left: calc(8rem * var(--title-page-scale));
        font-size: inherit;
        transform: scaleX(-1);
    }
.tp-mouth {
    position: absolute;
    top: calc(27rem * var(--title-page-scale));
    left: 50%;
    font-size: calc(42rem * var(--title-page-scale));
    color: var(--black);
}
    .tp-mouth-left {
        position: absolute;
        left: calc(-15.5rem * var(--title-page-scale));
        font-size: inherit;
        transform: rotate(-45deg);
    }
    .tp-mouth-right {
        position: absolute;
        left: calc(-8.5rem * var(--title-page-scale));
        font-size: inherit;
        transform: scaleX(-1) rotate(-45deg);
    }
.tp-eyes {
    position: absolute;
    top: calc(31rem * var(--title-page-scale));
    left: 50%;
    font-size: calc(8rem * var(--title-page-scale));
    color: var(--black);
}
    .tp-eye-left {
        position: absolute;
        left: calc(-10rem * var(--title-page-scale));
        font-size: inherit;
    }
    .tp-eye-right {
        position: absolute;
        left: calc(2rem * var(--title-page-scale));
        font-size: inherit;
    }
