/* create variables for each color used in the design */
:root {
    --yellow: #ffedd4;
    --teal: #009966;
    --orange: #f54a00;
    --black: #111111;
}
* {
    font-family: "Cardo", Georgia, serif;
    font-weight: normal;
    font-size: 1vw; 
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--yellow)
}

/* Base styles for dynamically created elements */
h1.animal-name { 
    position: absolute;
}
h2.animal-letter {
    position: absolute;
}
.animal-container {
    position: absolute;
}
.animal-container > * {
    position: absolute;
}
.partial-background {
    position: absolute;
}

/* title page css */
#title-page {
}
.tp-abc-book-a, .tp-abc-book-b {
    position: absolute;
    top: 7.5rem;
    color: var(--black);
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: .9rem;
}
    .tp-abc-book-a {
        left: 28.5rem;
    }
    .tp-abc-book-b {
        left: 60rem;
    }
.tp-bembo {
    position: absolute;
    top: -2rem;
    left: 0;
    right: 0;
    font-size: 27rem;
    text-align: center;
    color: var(--orange);
    letter-spacing: -1rem;
}
.tp-zoo {
    position: absolute;
    text-align: center;
    top: 18rem;
    left: 0;
    right: 0;
    font-size: 40rem;
    color: var(--orange);
    letter-spacing: -1rem;
}
.tp-author {
    position: absolute;
    text-align: right;
    top: 59rem;
    right: 4rem;
    font-size: 3.1rem;
    color: var(--teal);
}
.tp-ears {
    position: absolute;
    top: 20rem;
    left: 28rem;
    font-size: 20rem;
    color: var(--black);
    z-index: -1;
}
    .tp-ear-left {
        position: absolute;
        left: 0;
        font-size: inherit
    }
    .tp-ear-right {
        position: absolute;
        left: 29rem;
        font-size: inherit;
        transform: scaleX(-1);
    }
.tp-mouth {
    position: absolute;
    top: 24rem;
    left: 34rem;
    font-size: 42rem;
    color: var(--black);
}
    .tp-mouth-left {
        position: absolute;
        left: 0;
        font-size: inherit;
        transform: rotate(-45deg);
    }
    .tp-mouth-right {
        position: absolute;
        left: 7.15rem;
        font-size: inherit;
        transform: scaleX(-1) rotate(-45deg);
    }
.tp-eyes {
    position: absolute;
    top: 33.5rem;
    left: 39.5rem;
    font-size: 8rem;
    color: var(--black);
}
    .tp-eye-left {
        position: absolute;
        left: 0;
        font-size: inherit;
    }
    .tp-eye-right {
        position: absolute;
        left: 12rem;
        font-size: inherit;
    }